%h1
  Home#index
%p
  = link_to 'Start Bot', start_bot_path, remote:true
%p
  = link_to 'Get to api', get_to_api_path, remote:true
%p
  = link_to 'Set WebHook', set_webhook_path, remote:true

%ul#messages
